<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>36188623737-42clmbpcivrrsjrfi26cu6tfscc26eda.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.36188623737-42clmbpcivrrsjrfi26cu6tfscc26eda</string>
	<key>API_KEY</key>
	<string>AIzaSyBsClneXdpjxlmBt60d3vpPKMbfMvRvN4A</string>
	<key>GCM_SENDER_ID</key>
	<string>36188623737</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.week7NetworkingDiscussion</string>
	<key>PROJECT_ID</key>
	<string>cmsc23-todo-app-jcsagun</string>
	<key>STORAGE_BUCKET</key>
	<string>cmsc23-todo-app-jcsagun.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:36188623737:ios:4a529cbe2d4f241398d5a8</string>
</dict>
</plist>